# URL of the backend API (e.g. http://localhost:5000/api/v1 or https://api.fluentia.sourob.com/api/v1)
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
